@page "/"
@inject QuizManager QuizManager

<PageTitle>Quizz</PageTitle>

<h1>Quizz</h1>

<p>Choose a quizz!</p>

<ul>
    @foreach(var quizz in QuizManager.Quizzes)
    {
        <li><NavLink href="@quizz.Key">@quizz.Key</NavLink></li>
    }
</ul>

@code
{
}