@page "/presenter/quiz"
@inject QuizManager QuizManager

<PageTitle>Quiz @Id</PageTitle>
@if(Id == "")
{
    <p>Quizz not available</p>
}
<h3>Presenter @Id</h3>

@code {
	[SupplyParameterFromQuery]
	private string? Id { get; set; }
}